@charset "UTF-8";

.wrapper {
	margin: 0 auto;
	max-width: 980px;
	overflow: hidden;
}

.menu {
	text-align: left;
}

.space{
	line-height: 32px;
}

/*メニューバー -------------------
.menu{position: relative; top: 20px; }
.menu p {
	display: inline;
	padding: 0;
	margin: 0;
}

.menu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.menu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
*/
/*メニューバー C----------*/
.menu{position: relative; top: 20px; }
.menu {
	width: 980px;
	clear: both;
	overflow: hidden;
	margin: 16px auto;
}
.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li{
	width: 487px;
	float: left;
	display: block;
	border-right: 3px solid #dbae58;
	border-bottom: 5px solid #dbae58;
	background-color: #474655;
	padding: 10px 0px;
	text-decoration: none;
	color: #E1E2CF;
	margin: 1px 0px;
	text-align: center;
	font-size: 14px;
}
.menu ul li a{
	width: 487px;
	display: block;
}
.menu ul li:hover {
	border-bottom: 8px solid #c499ff;
	background-color: #474655;
}
.menu ul li::after {
    border-right: 3px solid #dbae58;
}
.menu ul li:last-child {border-right: none; }

/*--------------------------------*/
.subjectmenu{position: relative; top: 20px; }
.subjectmenu {
	width: 980px;
	clear: both;
	overflow: hidden;
	margin: 16px auto;
}
.subjectmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.subjectmenu ul li {
	width: 193px;
	float: left;
	display: block;
	border-right: 3px solid #dbae58;
	border-bottom: 5px solid #dbae58;
	background-color: #474655;
	padding: 10px 0px;
	text-decoration: none;
	color: #E1E2CF;
	margin: 1px 0px;
	text-align: center;
	font-size: 14px;
}
.subjectmenu ul li a{
	width: 193px;
	display: block;
}

.subjectmenu ul li:hover {
	border-bottom: 8px solid #c499ff;
	background-color: #474655;
}
.subjectmenu ul li::after {
    border-right: 3px solid #dbae58;
}
.subjectmenu ul li :first-child {border-right: none; }
/*--------------------------------*/
.unitmenu{position: relative; top: 20px; }
.unitmenu {
	width: 980px;
	clear: both;
	overflow: hidden;
	margin: 16px auto;
}
.unitmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.unitmenu ul li {
	width: 193px;
	float: left;
	display: block;
	border-right: 3px solid #dbae58;
	border-bottom: 5px solid #dbae58;
	background-color: #474655;
	padding: 10px 0px;
	text-decoration: none;
	color: #E1E2CF;
	margin: 1px 0px;
	text-align: center;
	font-size: 14px;
}
.unitmenu ul li a{
	width: 193px;
	display: block;
}

.unitmenu ul li:hover {
	border-bottom: 8px solid #c499ff;
	background-color: #474655;
}
.unitmenu ul li::after {
    border-right: 3px solid #dbae58;
}
.unitmenu ul li :last-child {border-right: none; }
/*--------------------------------*/
body {
	background-color: #488a99;
}
a {
    text-decoration:none;
}
a:link {
	color: #deb887;
}

a:visited {
	color: #deb887;
}

a:hover {
	color: #f5deb3;
}

a:active {
	color: #f0e68c;
}

/* 上の,リンク＞リンクのやつ*/
.explorer { font-size: smaller;}
.explorer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.explorer ul li { display: inline;}
.explorer ul li::after {
    content: ">";
    padding-left: 7px;
    color: #f0e68c;
}
.explorer ul li:last-child::after {content: none; }

/* 科目名メニューバー -------------------

.subjectmenu {position: relative; left: 180px; bottom: 65px;  35px; }
.subjectmenu p {
	display: inline;
	padding: 0;
	margin: 0;

}

.subjectmenu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.subjectmenu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
*/
/*--------------------------------*/

/*単元名メニューバー -------------------

.unitmenu {position: relative; left: 360px; bottom: 207px;}
.unitmenu p {
	display: inline;
	padding: 0;
	margin: 0;
}

.unitmenu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.unitmenu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
*/
/*--------------------------------*/
header {
	overflow: hidden;
	margin: 50px auto;
}
main {
	overflow: hidden;
	margin: 0 auto;

}
#main {
	margin: auto;
	width: 220px;
	float: left;
}
#sideChart {
	margin: auto;
	width: 730px;
	float: right;
}
