@charset "UTF-8";

.wrapper {
	margin: 0 auto;
	max-width: 980px;
	overflow: hidden;
}

.menu {
	text-align: left;
}

.space{
	line-height: 32px;
}

/*メニューバー -------------------*/
.menu{position: relative; top: 20px; }
.menu p {
	display: inline;
	padding: 0;
	margin: 0;
}

.menu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.menu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
/*--------------------------------*/
body {
	background-color: #488a99;
}
a {
    text-decoration:none;
}
a:link {
	color: #deb887;
}

a:visited {
	color: #deb887;
}

a:hover {
	color: #f5deb3;
}

a:active {
	color: #f0e68c;
}

/* 上の,リンク＞リンクのやつ*/
.explorer li {
	display: inline;
	list-style-type: 0;
}

/*科目名メニューバー -------------------*/

.subjectmenu {position: relative; left: 180px; bottom: 65px; /* 35px; */}
.subjectmenu p {
	display: inline;
	padding: 0;
	margin: 0;
}

.subjectmenu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.subjectmenu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
/*--------------------------------*/

/*単元名メニューバー -------------------*/

.unitmenu {position: relative; left: 360px; bottom: 207px; /*140px; */}
.unitmenu p {
	display: inline;
	padding: 0;
	margin: 0;
}

.unitmenu p a {
	display: block;
	border-left: 8px solid #dbae58;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 150px;
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

.unitmenu p a:hover {
	border-left: 8px solid #c499ff;
	background-color: #474655;
}
/*--------------------------------*/