body{
	color: #2b2b2b;
}
.list-nav {
	width: auto;
}

.que-contents{
	width: 980px;
	text-align: center;
	position: center;
	 border: 10px solid #f5f5f5;
 	padding: 20px;
	font-size: 20px;
}

#js-que{
	margin-left:15%;
}

.ulist {
	display: flex;
}

.list {
	margin-right: 2px;
	background: #fffff0;
	color: #000;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px 5px 5px 5px;
	text-align: center
}

.list.is-active{
	background: #2f4f4f;
	color: #fff;
}

.que-contents-item {
	display: none;
}

.next{
	display: block;
}

.js-button{
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

.answer{
	display: none;
}

table {
	margin-left: auto;
	margin-right: auto;
}
.commentary td{
	width: 100px;
	height: 50px;
}
#comm{
	width: 200px;
}
/*--------次へ　戻る-　終了---------*/
button {
	display: inline-block;
}

.selectbutton {
	text-align: center;
}

/*-----------次へ-------------*/
.next {
	border: 2px solid #000;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.next:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #000;
}

.next:hover {
	color: #fff;
	background: #000;
}

.next:hover:before {
	background: #fff;
}

/*-----------戻る--------------*/
.back {
	border: 2px solid #000;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #000;
}

.back:hover {
	color: #fff;
	background: #000;
}

.back:hover:before {
	background: #fff;
}

/*-------------終了-------------*/
.end {
	border: 2px solid #000;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.end:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #000;
}

.end:hover {
	color: #fff;
	background: #000;
}

.end:hover:before {
	background: #fff;
}

/*----------------------------*/

