@charset "UTF-8";

.commentary-btn{
	background-color: #eee8aa;
}

table{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}
.testdetail-btn{
	background-color: #eee8aa;
}
body{
	text-align: center;
	color: #332d30;
}