@charset "UTF-8";

 body {
	/* スマホの画面サイズに対応 */
	box-sizing: border-box;
}

.que-contents-item {
	display: none;
}

.testquestion {
	text-align: center;
	width: 980px;
	margin-left:auto;
	margin-right:auto;
	border: 10px solid #f5f5f5;
 	padding: 20px;
	font-size: 20px;
}

.boxline{
	box-sizing: border-box;
}

 h1{
 	text-align: center;
 	position: relative;
 	top:-20px;
 	color: #2b2b2b;
 }

.t_timer {
	text-align: right;
	max-width: 1200px;
	color: #2b2b2b;
}

#titleunit {
	position: left;
	max-width: 1200px;
	font-size: 20px;
	color: #2b2b2b;
}

table {
	margin-left: auto;
	margin-right: auto;
}

/*--------次へ　戻る-　終了---------*/
button {
	display: inline-block;
}

.selectbutton {
	text-align: center;
}

/*終了ボタン位置*/
.end {
  position: absolute;
  top: 780px;
  left: 1000px;
}

/*次へボタン位置*/
.next{
  	position: absolute;
  	top: 780px;
  	left: 780px;
}

/*戻るボタン位置*/
.back{
  	position: absolute;
  	top: 780px;
  	left: 680px;
}

/*-----------次へ-------------*/
.next {
	border: 2px solid #2b2b2b;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.next:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #2b2b2b;
}

.next:hover {
	color: #fff;
	background: #2b2b2b;
}

.next:hover:before {
	background: #fff;
}

/*-----------戻る--------------*/
.back {
	border: 2px solid #2b2b2b;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #2b2b2b;
}

.back:hover {
	color: #fff;
	background: #2b2b2b;
}

.back:hover:before {
	background: #fff;
}

/*-------------終了-------------*/
.end {
	border: 2px solid #2b2b2b;
	border-radius: 0;
	background: #fff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.end:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #2b2b2b;
}

.end:hover {
	color: #fff;
	background: #2b2b2b;
}

.end:hover:before {
	background: #fff;
}

/*----------------------------*/
.questionform {
	width: 250px;
	margin: 30px auto;
	background-color: #FFFFFF;
	/*  	padding: 20px;*/
}

.questiontext {
	text-align: left;
	border-color: #674196;
}

/*-----------問題文-------------*/
.box1 {
	padding: 0.5em 1em;
	margin: auto;
	font-weight: bold;
	color: #674196; /*文字色*/
	background: #FFF;
	border: solid 3px #674196; /*線*/
	border-radius: 10px; /*角の丸み*/
	width: 500px;
	text-align: center;
}

.box1 p {
	margin: 0;
	padding: 0;
}