@charset "UTF-8";

.commentary-btn{
	background-color: #eee8aa;
}
.commentary-btn :hover{
	background-color: #dbae58;
}


table{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}
.testdetail-btn {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #9ec34b;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.testdetail-btn {
  position: relative;
  z-index: 1;
}

.testdetail-btn::before,
.testdetail-btn::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.testdetail-btn::before {
  left: 0;
}
.testdetail-btn::after {
  right: 0;
}

.testdetail-btn:hover:before,
.testdetail-btn:hover:after {
  width: 0;
  background-color: #FFF;
}

.testdetail-btn:hover {
  color: #FFF;
}
h3 {
	text-align: center;
}
main {
	text-align: center;
}
body{
	/*text-align: center;*/
	color: #332d30;
}